<a href="https://colab.research.google.com/github/rachnarayan1201/workshop-python-programming-exercises/blob/master/day2_session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List exercises:

print multiples of 3 upto 200 using a list

In [1]:
print(([i  for i in range(0,200) if i%3==0]))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [2]:
print(([i  for i in range(1000,2000) if(i%5==0 and i%7==0)]))

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [4]:
names=([(input()) for i in range(int(input("Enter n: ")))])
print("Input :",names)
names.sort()
print("alphabetically : ",names)
names.sort(reverse=True)
print("reverse alphabetically: ",names)

Enter n: 2
rachana
rakesh
Input : ['rachana', 'rakesh']
alphabetically :  ['rachana', 'rakesh']
reverse alphabetically:  ['rakesh', 'rachana']

Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [5]:
def perfectSquares(l, r): 
	for i in range(l, r + 1): 
		if ((i**(.5) == int(i**(.5))) and i%5==0): 
			print(i, end=" ") 
perfectSquares(500, 1000)

625 900

Tuple exercises:

Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [7]:
txt=input("enter string: ")
words = txt.split()
a = list()
for word in words:
  a.append((word))
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

enter string: python programs
The word with the longest length is:
programs

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.

In [8]:
t=[]
a=[]
n=int(input("enter num of students: "))
for i in range(0,n):
  e=int(input("enter rollnum: "))
  j=int(input("enter marks: "))
  t.append(e)
  a.append(j)
m = [(t[i], a[i]) for i in range(0, len(t))]
print("input: ",m)
m.sort(key = lambda x: x[1],reverse=1)  
print("output",m)

enter num of students: 2
enter rollnum: 2
enter marks: 30
enter rollnum: 4
enter marks: 26
input:  [(2, 30), (4, 26)]
output [(2, 30), (4, 26)]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [9]:
t=[]
a=[]
n=int(input("enter num of employees: "))
for i in range(0,n):
  e=(input("enter name: "))
  j=float(input("enter salary: "))
  t.append(e)
  a.append(j)
m = [(t[i], a[i]) for i in range(0, len(t))]
print("input: ",m)
m.sort(key = lambda x: x[0])  
print("output",m)

enter num of employees: 2
enter name: rachana
enter salary: 50000
enter name: rakesh
enter salary: 25000
input:  [('rachana', 50000.0), ('rakesh', 25000.0)]
output [('rachana', 50000.0), ('rakesh', 25000.0)]